<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CMSPersonal</title>

    <link href="~/css/bootstrap.min.css" rel="stylesheet" />

    <link href="~/css/bootstrap-theme.css" rel="stylesheet" />
    <link href="~/css/StyleSheet1.css" rel="stylesheet" />
    <script src="~/js/jquery-1.11.3.min.js"></script>

    <link rel="stylesheet" type="text/css" href="//cloud.typography.com/6247692/752844/css/fonts.css" />
</head>
<body>
    <header>
        @await Component.InvokeAsync(nameof(UserDetail))
    </header>
    <div class="container">
        <partial name="_CookieConsentPartial" />
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2019 - CMSPersonal - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/js/bootstrap.min.js"></script>
    @RenderSection("Script", false)
</body>
</html>
