@model LoggedUser
@*<header id="adminBar" class="col-sm-12">
        Welcome, @Model.UserName
    </header>
    <nav id="leftMenu" class="col-sm-3">
        @if (Model.Role == "Admin")
        {
            <ul id="nav">
                <li class="pageIcon">
                    <a>Pages</a>
                    <ul>
                        <li>
                            <a asp-controller="Page" asp-action="Index">All Page</a>
                        </li>
                        <li>
                            <a asp-controller="Page" asp-action="Add" asp-route-id="">Add Page</a>
                        </li>
                    </ul>
                </li>
                <li class="mediaIcon">
                    <a>Media</a>
                    <ul>
                        <li>
                            <a asp-controller="Media" asp-action="Index">All Media</a>
                        </li>
                        <li><a asp-controller="Media" asp-action="Add" asp-route-id="">Add Media</a></li>
                    </ul>
                </li>
                <li class="blogIcon">
                    <a>Blogs</a>
                    <ul>
                        <li>
                            <a asp-controller="BlogCategory" asp-action="Index">All Blog Category</a>
                        </li>
                        <li>
                            <a asp-controller="BlogCategory" asp-action="Add" asp-route-id="">Add Blog Category</a>
                        </li>
                        <li>
                            <a asp-controller="Blog" asp-action="Index">All Blog</a>
                        </li>
                        <li>
                            <a asp-controller="Blog" asp-action="Add" asp-route-id="">Add Blog</a>
                        </li>
                    </ul>
                </li>
                <li class="siteIcon">
                    <a>Site Info</a>
                    <ul>
                        <li>
                            <a asp-controller="Info" asp-action="Index">Info</a>
                        </li>
                    </ul>
                </li>
                <li class="pageIcon">
                    <a>Menu</a>
                    <ul>
                        <li>
                            <a asp-controller="Menu" asp-action="Index">All Menu</a>
                        </li>
                        <li>
                            <a asp-controller="Menu" asp-action="Add" asp-route-id="">Add Menu</a>
                        </li>
                    </ul>
                </li>
                <li class="accountIcon">
                    <a>Account</a>
                    <ul>
                        <li><a asp-controller="Admin" asp-action="Role">Role</a></li>
                        <li><a asp-controller="Admin" asp-action="Logout">Logout</a></li>
                    </ul>
                </li>
            </ul>
        }
        else
        {
            <ul id="nav">
                <li class="pageIcon">
                    <a>User</a>
                    <ul>
                        <li>
                            <a asp-controller="User" asp-action="Edit">Edit</a>
                        </li>
                        <li>
                            <a asp-controller="User" asp-action="Logout">Logout</a>
                        </li>
                    </ul>
                </li>
                <li class="siteIcon">
                    <a>Order</a>
                    <ul>
                        <li>
                            <a asp-controller="User" asp-action="Order">Orders</a>
                        </li>
                    </ul>
                </li>
            </ul>
        }
    </nav>*@


<header class="example-header">
    <div class="header-top">
        <div class="container">
            <!-- Logo and Title -->
            <div class="logo">
                <div class="logo1">
                    <img src="https://www.gs1chile.org/Content/Images/logo.png" height="61" border="0" alt="GS1 logo" />
                    <p class="large hidden-xs hidden-sm">
                        <strong>Bienvenido a GS1 Chile</strong><br />
                        El Lenguaje Global de los Negocios
                    </p>
                </div>
            </div>
           
        </div>
    </div>
    <div class="navigation">
        <div class="container">
            <nav class="navbar yamm navbar-default" role="navigation">
                <div class="navbar-header">
                    <div class="logo1 visible-xs"><a href="index.html"><img src="https://www.gs1chile.org/Content/Images/logo.png" height="61" border="0" alt="GS1 logo" /></a></div>
                    <button type="button" data-toggle="collapse" data-target="#navbar-collapse-example" class="navbar-toggle collapsed"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
                   
                </div>
                <div id="navbar-collapse-example" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">

                        <li class="dropdown yamm-fw active">
                            <a data-toggle="dropdown" class="dropdown-toggle" href="#0">Páginas</a>
                            <ul class="dropdown-menu">
                                <li>
                                    <div class="col-sm-3">
                                        <h4><a asp-controller="Page" asp-action="Index">Listar</a></h4>
                                        <h4> <a asp-controller="Page" asp-action="Add" asp-route-id="">Agregar</a></h4>
                                    </div>

                                </li>
                            </ul>
                        </li>

                        <li class="dropdown yamm-fw">
                            <a data-toggle="dropdown" class="dropdown-toggle" href="#0">Menú</a>
                            <ul class="dropdown-menu">
                                <li>

                                    <div class="col-sm-3">
                                        <h4><a asp-controller="Menu" asp-action="Index">Listar</a></h4>
                                        <h4> <a asp-controller="Menu" asp-action="Add" asp-route-id="">Agregar</a></h4>
                                    </div>

                                </li>
                            </ul>
                        </li>

                        <li class="dropdown yamm-fw">
                            <a data-toggle="dropdown" class="dropdown-toggle" href="#0">Menú</a>
                            <ul class="dropdown-menu">
                                <li>

                                    <div class="col-sm-3">
                                        <h4><a asp-controller="BlogCategory" asp-action="Index">All Blog Category</a></h4>
                                        <h4><a asp-controller="BlogCategory" asp-action="Add" asp-route-id="">Add Blog Category</a></h4>
                                        <h4><a asp-controller="Blog" asp-action="Index">All Blog</a></h4>
                                        <h4><a asp-controller="Blog" asp-action="Add" asp-route-id="">Add Blog</a></h4>

                                    </div>

                                </li>
                            </ul>
                        </li>
                       
                       
                        


                    </ul>
                </div>
            </nav>
        </div>
    </div>
    <div class="header-bottom visible-xs visible-sm">
        <div class="container">
            <strong>Bienvenido a GS1 Chile</strong><br>
            El Lenguaje Global de los Negocios
        </div>
    </div>
</header>